@font-face {
  font-family: "AvantGardeGothicITCW01Bd";
  src: url(../fonts/30F494_0_0.woff) format("woff"),
      url(../fonts/30F494_0_0.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

  @font-face {
    font-family: "AvantGardeGothicITCW01Bk";
    src: url(../fonts/30F494_1_0.woff) format("woff"),
    url(../fonts/30F494_1_0.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "museo_sans700";
    src: url(../fonts/museosans-700-webfont.woff) format("woff"),
    url(../fonts/museosans-700-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
  }
